	<div class="contact">
					<h6  style="font-weight: 900;"> Contact us </h6>
			
		  			<div class="md-form">
        				<input type="name" id="name" class="form-control" value="Name">
        				<input type="email" id="email" class="form-control" value="Email">
        				<input type="text" id="Message" class="form-control" class="message" value="Message">
        				<br>
        			<button class="btn btn-info btn-block" type="submit">Send</button> </div>
        		
        					<div class="detail">
        						<p>Tel: 0123456789</p>
       		 					<p>Fax: 0123456 </p>
        						<p>s3734613@student.rmit.edu.au</p>
        
        					</div>
						</button>
      				</div>
				</div>
