<% if @location.errors.any? %>
  <div id="error-wrapper">
    <div class="alert alert-danger">
      Please correct the following errors.
    </div>
    <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
