<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Assignment 1 home page</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

			<!-- This part is for Welcome Content -->
			<div class="content">
			<h1> Welcome to Your Course App </h1>

			<p> This is the home page for the RAD Assignment 2 </p>

				<button class="btn btn-secondary" type="button">
							<span style="font-size: 13px;">
								<i class="fas fa-cog"></i>
							</span>	<%= link_to "Sign up ", signup_path,{ :style=>"color:white"} %>
							</button></a>			
			</div>

	<!-- This part is for View Course  & Sign in -->
		<div class="section">
			<div class="info">
				<h5>View Course as Guest User </h5>
				<p> Browse and view courses as a guest and sign up later</p>

				<button class="btn btn-secondary" type="button">
							<span style="font-size: 13px;">
								<i class="fas fa-book"></i>
							</span>	
							<%= link_to "Browse all courses", courses_path %>
							</button>
			</div>
			<div class="info">
				<h5> Sign in to your account</h5>
				<p> Update your courses, rate courses, view coordinator informations </p>

				<button class="btn btn-secondary" type="button">
							<span style="font-size: 13px;">
								<i class="far fa-address-card"></i>
							</span>	
							<%= link_to "Log in to your account", login_path %>
							</button>
			</div>
		</div>

		<!-- This part is for Footer -->
			

	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>