<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Assignment 1 home page</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!--<link rel="stylesheet" type="text/css" href="css/home.scss">-->
	<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="font-awesome/css/all.css">-->
	<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
</head>
<body>

	<!-- This part is for Header Buttons -->
	<!--<div class="main-wrap">-->
	<!--	<div class="container">-->
	<!--		<div class="row">-->
	<!--			<div class="col-md-6">-->
	<!--				<div class="heading">-->
	<!--					<a href="All Courses.html"><p class="text-center">YOURCOURSES</p></a>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--			<div class="col-md-6">-->
	<!--				<div class="nav float-md-right">-->
	<!--					<div class="dropdown">-->
	<!--						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
	<!--							<span style="font-size: 15px;">-->
	<!--							<i class="fas fa-crosshairs"></i>-->
	<!--						</span>-->
	<!--						Category-->
	<!--						</button>-->
	<!--						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
	<!--						    <a class="dropdown-item" href="#">Web Development</a>-->
	<!--						    <a class="dropdown-item" href="#">Java</a>-->
	<!--						    <a class="dropdown-item" href="#">Full Stack Dev</a>-->
	<!--						    <a class="dropdown-item" href="#">iOS Engineering</a>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--					<div class="dropdown">-->
	<!--						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
	<!--						<span style="font-size: 15px;">-->
	<!--							<i class="fas fa-location-arrow"></i>-->
	<!--						</span>-->
	<!--						Locations-->
	<!--						</button>-->
	<!--						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
	<!--						    <a class="dropdown-item" href="#">14.10.31</a>-->
	<!--						    <a class="dropdown-item" href="#">14.08.26</a>-->
	<!--						    <a class="dropdown-item" href="#">14.10.20</a>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--					<div class="dropdown">-->
	<!--						<button class="btn btn-secondary" type="button">-->
	<!--						<span style="font-size: 15px;">-->
	<!--							<i class="far fa-address-card"></i>-->
	<!--						</span>	-->
	<!--						 Log in-->
	<!--						</button>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--		</div>-->

			<!-- This part is for Welcome Content -->
			<div class="content">
			<h1> Welcome to Your Course App </h1>

			<p> This is the home page for the RAD Assignment 2 </p>

				<button class="btn btn-secondary" type="button">
							<span style="font-size: 13px;">
								<i class="fas fa-cog"></i>
							</span>	
							 Sign up now
							</button></a>			
			</div>

	<!-- This part is for View Course  & Sign in -->
		<div class="section">
			<div class="info">
				<h5>View Course as Guest User </h5>
				<p> Browse and view courses as a guest and sign up later</p>

				<button class="btn btn-secondary" type="button">
							<span style="font-size: 13px;">
								<i class="fas fa-book"></i>
							</span>	
							Browse all courses
							</button>
			</div>
			<div class="info">
				<h5> Sign in to your account</h5>
				<p> Update your courses, rate courses, view coordinator informations </p>

				<button class="btn btn-secondary" type="button">
							<span style="font-size: 13px;">
								<i class="far fa-address-card"></i>
							</span>	
							Log in to your account
							</button>
			</div>
		</div>

		<!-- This part is for Footer -->
			

	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>