// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body, .container{
	padding:0;
	margin-bottom: 10px;
}
body a:link, a:hover, a:visited, a:active{
	color: white;
	text-decoration: none;
}

.main-wrap{
	padding:20px 0;
}

.heading{
	width: 130px;
	height:35px;
	background-color: #5cd1ef;
	padding-top: 7px;
	color: white;
	font-weight: 700;
	font-size: 14px;
	border-radius: 4px;
}
.nav .dropdown .btn{
	margin-left: 20px;
	background-color: #5cd1ef;
	border:0;
}
.nav .dropdown .btn:hover{
	background-color: #2693af;
	border:0;
	outline: none;
}
.nav .dropdown .btn:focus{
	background-color: #2693af;
	border:0;
	outline: none;
}

/*start of Home page*/
.content {
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px;
	height: 250px;
	background-color: #e5e6e8;
	text-align: center;
	padding-top: 70px;
	border-radius: 3px;
}

.content p{
	font-size: 13px;
}

.content button{
	color: white;
	font-size: 15px;
	background-color: #ff0a0a;
	border:0;
}

.section {
	width: 560px;
	margin-top: 50px; 
}

.section p{
	font-size: 15px;
	color: #565454;
	font-weight: 600;
}

.section button{
	height: 30px;
	padding-left: 8px;
	padding-top: 2px;
	font-size: 15px;
	background-color: #02cc2a; /* 02cc2a */
	border:0;
	text-align: center;
}

.section .info{
	width: 280px;
	float: left;

}

.footer {
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
	width: 100%;
	height: 500px;
	background-color: #e5e6e8;
	padding-top: 35px;
	padding-left: 20px;
	border-radius: 3px;
	float: left;
}


.md-form input{
	width: 250;
	background-color: #e5e6e8;
	margin-top: 20px;
}

.md-form input .message{
	height: 300px;
}

.contact{
	width: 20%;
	float: left;
	margin-left: 15px;
	margin-right: 39px;
}

#id{
	background-color : "#fff";
	font-color : "#000";
}

.contact p {
	margin-top: 10px;
	color: #39393a;
	font-size: 15px;
}

.footer .btn{
	margin-top: 8px;
}

.footer .detail{
	margin-top: 100px;
}

/*end of Home page*/

/*start of Register page*/

.reg h2{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 20px;
}

.reg .signup{
	width: 71%;
	margin-left: 15%;
}
.reg ul{
	margin-top: 8px;
}

.regform {
	width: 71%;
	background-color: #e0e0e0;
	margin-left: 15%;
	padding: 20px;
	border-radius: 4px;
}

.regform button{
	background-color: #00AD20;
}

/*start of All Courses page*/

.main-wrap h3{
	margin-top: 20px;
}

.body-content .container a:link{
	color: black;
}

.main-wrap .tab-content .tab-pane .image{
	font-family: 'Roboto', sans-serif;
	height: 130px;
	text-align: center;
}
.main-wrap .tab-content .tab-pane .image img{
	max-height: 130px;
	width: 80%;
}
.main-wrap .tab-content .tab-pane .text p {
	font-weight: bold;
	font-size: 13px;
}
.main-wrap .tab-content .tab-pane .data{
	font-family: 'Roboto', sans-serif;
	height: 210px;
	background-color: #d8d8d887;
	border-radius: 3px;
	padding: 20px 15px;
}
.main-wrap .tab-content .tab-pane .data h5{
	color: #0b64b1;
	font-weight: bold;
	font-size: 18px;
}
.main-wrap .tab-content .tab-pane .data p{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}
.main-wrap .tab-content .tab-pane .data .reaction{
	width:100px;
	height: 35px;	
	display: inline-block;
	padding-top: 10px;
}
.main-wrap .tab-content .tab-pane .data .reaction .like,
.main-wrap .tab-content .tab-pane .data .reaction .dislike{
	color: #0b64b1;
	font-size: 12px;
	width: 50%;
	float: left;
}
.main-wrap .tab-content .tab-pane .wrap{
	width:200px;
	height:200px;
	text-align: center;
	margin-bottom: 20px;
}
.main-wrap .tab-content .tab-pane .wrap img{
	max-width:100%;
	max-height:100%;
}
.main-wrap .tab-content .tab-pane .wrap p{
	font-size: 13px;
	font-weight: bold;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 20%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}