<!DOCTYPE html>
<html>
<head>
	<title>All Courses</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!--<link rel="stylesheet" type="text/css" href="css/stylesheet.css">-->
	<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="font-awesome/css/all.css">-->
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
</head>
<body>

	<!-- This part is for Header Buttons -->
	<!--<div class="main-wrap">-->
	<!--	<div class="container">-->
	<!--		<div class="row">-->
	<!--			<div class="col-md-6">-->
	<!--				<div class="heading">-->
	<!--					<a href="Home.html"><p class="text-center">YOURCOURSES</p></a>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--			<div class="col-md-6">-->
	<!--				<div class="nav float-md-right">-->
	<!--					<div class="dropdown">-->
	<!--						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
	<!--							<span style="font-size: 15px;">-->
	<!--							<i class="fas fa-crosshairs"></i>-->
	<!--						</span>-->
	<!--						Category-->
	<!--						</button>-->
	<!--						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
	<!--						    <a class="dropdown-item" href="#">Web Development</a>-->
	<!--						    <a class="dropdown-item" href="#">Java</a>-->
	<!--						    <a class="dropdown-item" href="#">Full Stack Dev</a>-->
	<!--						    <a class="dropdown-item" href="#">iOS Engineering</a>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--					<div class="dropdown">-->
	<!--						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
	<!--						<span style="font-size: 15px;">-->
	<!--							<i class="fas fa-location-arrow"></i>-->
	<!--						</span>-->
	<!--						Locations-->
	<!--						</button>-->
	<!--						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
	<!--						    <a class="dropdown-item" href="#">14.10.31</a>-->
	<!--						    <a class="dropdown-item" href="#">14.08.26</a>-->
	<!--						    <a class="dropdown-item" href="#">14.10.20</a>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--					<div class="dropdown">-->
	<!--						<button class="btn btn-secondary" type="button">-->
	<!--						<span style="font-size: 15px;">-->
	<!--							<i class="far fa-address-card"></i>-->
	<!--						</span>	-->
	<!--						 Log in-->
	<!--						</button>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--		</div>-->

			<!-- This part is for Welcome Content -->
			<div class="reg">
				<h2> Coordinator Register </h2>		
				<hr>
				<div class="signup">
					<div class="alert alert-danger alert-dismissible fade in">
    					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					<strong>Please correct the following errors:</strong>
    					<ul>
    						<li> Name can't be blank </li>
    						<li> Name is too short (minimum is 4 characters) </li>
    						<li> Email can't be blank </li>
    						<li> Email is too short (minimum is 4 characters) </li>
    						<li> Email Registration only open for RMIT staff </li>
    						<li> Password can't be blank </li>
    						<li> Password must contain at least a lowercase letter, an uppercase, a digit, a special character and 8+ characters </li>
    					</ul>
  					</div>
  				</div>

  				<div class="regform">
  				<form>
  					<div class="form-group">
  	  					<label for="exampleInputEmail1" class="bmd-label-floating">Name</label>
    					<input type="name" class="form-control" id="exampleInputName">
  					</div>
  	 				<div class="form-group">
    					<label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
    					<input type="Email" class="form-control" id="exampleInputEmail1">
  					</div>
  					<div class="form-group">
    					<label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
    					<input type="password" class="form-control" id="exampleInputPassword1">
  					</div>  
  						<button class="btn btn-info btn-block" type="submit">Register</button>
					</form>
					</div>

	
		<!-- This part is for Footer -->
			<div class="footer">
				<div class="contact">
					<h6  style="font-weight: 900;"> Contact us </h6>
			
		  			<div class="md-form">
        				<input type="name" id="name" class="form-control" value="Name">
        				<input type="email" id="email" class="form-control" value="Email">
        				<input type="text" id="Message" class="form-control" class="message" value="Message">
        				<button class="btn btn-info btn-block" type="submit">Send</button>

        					<div class="detail">
        						<p>Tel: 0123456789</p>
       		 					<p>Fax: 0123456 </p>
        						<p>s3734613@student.rmit.edu.au</p>
        
        					</div>
						</button>
      				</div>
				</div>

				<div class="contact">
					<h6  style="font-weight: 900;"> General inquires </h6>
					<a href="#"> <p> Andy Song </p> </a>
					<a href="#"> <p> Junliang Jiang </p> </a>
					<a href="#"> <p> Ali </p> </a>
     	 		</div>

     	 		<div class="contact">
					<h6  style="font-weight: 900;"> Useful Links </h6>
					<a href="#"> <p> RMIT Coruse </p> </a>
					<a href="#"> <p> RMIT Help Desk </p> </a>
					<a href="#"> <p> RMIT International </p> </a>
      			</div>


				<div class="contact">
					<h6  style="font-weight: 900;"> Media </h6>
					<a href="#"> <p><i class="fab fa-youtube"></i> Youtube </p> </a>
					<a href="#"> <p><i class="fab fa-twitter"></i> Twitter </p> </a>
					<a href="#"> <p><i class="fab fa-youtube"></i> Youtube </p> </a>
					<a href="#"> <p><i class="fab fa-instagram"></i> Instagram </p> </a>
					<a href="#"> <p><i class="fab fa-skype"></i> Skype </p> </a>
      			</div>
      		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</body>
</html>